services:
  web:
    build:
      context: ./app
      args:
        - REACT_APP_SUPABASE_URL=${REACT_APP_SUPABASE_URL}
        - REACT_APP_SUPABASE_ANON_KEY=${REACT_APP_SUPABASE_ANON_KEY}
    ports:
      - "80:80"
    env_file:
      - ./app/.env
